.page-container-info {
    display: flex;
    gap: 32px;
}

.page-left {
    display: flex;
    flex-direction: column;
}

.info-padding {
    padding-bottom: 8px;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
}

input {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    width: 350px;
    height: 30px;
    border-radius: 4px;
    border: none;
    margin-top: 8px;
    margin-bottom: 16px;
}

input[type="submit" i]:disabled {
    opacity: .5;
}

input:focus {
    outline: none;
    border: 2px solid var(--color-accent);
}

textarea {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    width: 350px;
    height: 100px;
    resize: none;
    border-radius: 4px;
    border: none;
    margin-top: 8px;
    margin-bottom: 16px;
}

textarea:focus {
    outline: none;
    border: 2px solid var(--color-accent);
}

.accent-button {
    margin: 0;
}

@media screen and (max-width: 800px) {
    .page-layout {
        display: block;
        overflow: hidden;
        margin-top: 24px;
    }

    .page-left {
        width: 90%;
        margin: 0 auto;
    }

    .page-right {
        width: 90%;
        margin: 0 auto;
    }

    .page-container {
        overflow: hidden;
    }

    .page-container-info {
        flex-direction: column;
        overflow: auto;
        height: 500px;
    }

    input {
        width: 100%;
    }

    textarea {
        width: 100%;
    }

    .accent-button {
        width: 100%;
    }
}